/* 1) Classes applicables à de nombreux éléments. */


/* Ajout de la police d'écriture du site : Roleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* Les classes pour obtenir les trois couleurs du site */
.bg-blue-1 {
    background-color: #0065FC;
}

.bg-blue-2 {
    background-color: #DEEBFF;
}

.bg-grey {
    background-color: #F2F2F2;
}

.mobile-search {
    display: none;
}

.desktop-search {
    display: block;
}

/* Une classe pour arondir tous les articles, filtres et fonds d'articles */
.rounded,
.result,
.results-activities div {
    border-radius: 30px;
}

/* Les liens visités de changent pas de couleur */
a:visited {
    color: inherit;
}


/* 2) Gestion du corps du texte (titres, paragraphes) */


/* Les propriétés de tout le body (cadrage et police d'écriture) */
body {
    margin: 0;
    font-family: "Raleway", "Sans serif";
}

/* Désactive les puces de la liste pour la navbar */
ul {
    list-style: none;
}

/* Taille des titres */
h1 {
    font-size: 1.9em;
}

/* La mise en gras des titres un peu "moins importants" */
h2,
h3 {
    font-weight: bold;
    color: black;
}

.result a:hover h3 {
    text-decoration: underline;
    text-decoration-color: #0065FC;
}

/* Gestion de la forme des paragraphes */
p {
    font-size: 1.1em;
    text-align: justify;
    color: black;
}


/* 3) Les éléments en haut de page */


/* Les propriétés de la touche itinéraire, de la barre de recherche et du bouton */
.search-bar {
    margin: 15px 0 31px;
    border: solid 1px #f2f2f2;
    border-radius: 16px;
    overflow: hidden;
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.search-bar span {
    min-width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.search-bar span:hover {
    background-color: grey;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.search-bar i {
    color: black;
}

.search-bar input {
    height: 100%;
    min-width: 160px;
    border: none;
    padding: 17px;
    color: black;
    font-weight: bold;
    outline-offset: -2px;
    overflow: visible;
}

.search-bar button {
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    min-width: 50px;
    padding: 19px;
    font-weight: bold;
    overflow: visible;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border: none;
}

.search-bar button:hover {
    background-color: blue;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.search-bar a {
    text-decoration: none;
}

/* Gérer les filtres entre icones (Font Awesome), textes et barres */
.filters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filters-container {
    display: flex;
    flex-wrap: wrap;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 50px;
    height: 3em;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #f2f2f2;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.filter:hover {
    background-color: #DEEBFF;
    text-decoration: none;
    text-decoration-color: #0065FC;
}

.filter:active {
    color: #F2F2F2;
}

.filter span {
    width: 15px;
    height: 15px;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter p {
    padding: 0 20px 0 15px;
}

/* À propos de la petite ligne informative */
.information {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.information i {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #f2f2f2;
    border-radius: 30px;
    padding: 9px;
    width: 17px;
    height: 17px;
}

/* La largeur maximale de la page est fixée (excepté pour le footer) */
header,
main {
    margin: 0 auto;
    max-width: 1340px;
}

/* Toute la navbar du haut est alignée sur une ligne */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Aligne et cadre la navbar */
header nav ul {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
    width: 300px;
}

header nav li a {
    color: inherit;
    text-decoration: none;
    border-top: 3px solid rgba(255, 255, 255, 0);
    display: block;
    padding: 48px 0;
}

header div img {
    padding-top: 35px;
}

/* Le trait lorsque l'on survole les liens Hébergements et Activités */
header nav li a:hover {
    border-top: 3px solid #0065FC;
}

/* La gestion du bouton "S'inscrire" */
header button {
    color: #0065FC;
    background-color: unset;
    border: none;
    border-radius: 15px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 35px 25px;
}

header button:hover {
    background-color: #0065fc;
    color: white;
}

/* Placement du titre-logo du site (facteur d'expansion, écart à gauche) */
header .logo-container {
    flex-grow: 1;
    padding-left: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

.mobile-header {
    display: none;
}


/* 4) Gestion des articles principaux du centre de la page (avec images) */


/* Un traitement pour la taille des images  */
article img {
    height: 118px;
    width: auto;
}

/* La partie A) comprenant "les résultats d'hébergements" */
/* Activation d'une grille divisée en trois */
.results-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

/* La grille "hébergement" prend deux colonnes  */
.city-accommodations {
    grid-column: span 2;
    padding: 20px 41px;
}

/* Placement de chaque image-article et espacement */
.results-accommodation {
    display: grid;
    grid-gap: 1.75rem;
    grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
    line-height: 1.15;
}

/* La couleur de fond entoure chaque résultat & cache ce qui dépasse */
div.result {
    border: solid white 5px;
    overflow: hidden;
    background-color: white;
}

/* Les liens s'appliquent dans chaque espace */
.result a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.result-text {
    margin: 0px 10px 12px 10px;
}

/* Forme du bouton "afficher plus" */
.show-more {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.show-more:hover {
    text-decoration: underline;
}

/* La partie B) avec les plus populaires */
.most-popular-container {
    display: flex;
    flex-direction: column;
    padding: 20px 41px;
}

/* L'affichage des images diffèrent, elles se retrouvent à gauche */
.most-popular-container .result img {
    max-width: 40%;
    min-height: 160px;
}

/* Gestion du haut du cadre avec titre et logo */
.most-popular-container .result a {
    flex-direction: row;
}

.most-popular-container h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.most-popular-container h2 i {
    color: black;
}

.most-popular-container h2 i:hover {
    color: gray;
}

/* Gestions des étoiles */

i {
    color: #0065FC;
}

i.fa-star.inactive {
    color: #F2F2F2;
}

/* Eviter le warning W3C en donnant un titre de section/article invisible */
section h4 {
    display: none;
}

article h4 {
    display: none;
    /* visibility: hidden; */
}

section.mobile-only {
    display: none;
}

/* La partie C) avec la grille d'activité */
.results-activities {
    grid-column: span 3;
    box-sizing: border-box;
    line-height: 1.15;
}

/* Le container des articles */
.results-activities-article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-template-rows: repeat(2, 200px);
    grid-auto-flow: dense;
    grid-gap: 1.75rem;
    line-height: 1.15;
}

.results-activities-article a {
    text-decoration: none;
}

.results-activities-highlighted {
    grid-row: span 2;
    border: none;
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 12px 3px #d2d2d2;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.results-activities-highlighted img {
    object-fit: cover;
    width: 100%;
    height: 85%;
}

.results-activities-highlighted h3 {
    padding-left: 15px;
}

.results-activities-others {
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 12px 3px #d2d2d2;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.results-activities-others img {
    object-fit: cover;
    width: 100%;
    height: 75%;
}

.results-activities-others h3 {
    padding-left: 15px;
}

.results-activities h3:hover {
    text-decoration: underline;
    text-decoration-color: #0065FC;
}


/* 5) Gestion du pied de page */


/* Le placement, la taille d'écriture et l'espacement du footer */
footer {
    margin-top: 55px;
    padding: 30px;
    font-size: 1em;
    line-height: 1.8;
}

/* Les 3 sections du footer sont mis sur une même ligne */
.footer-list {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Le haut de chaque section est plus gros et en gras */
.footer-title {
    font-weight: bold;
    font-size: 1.3em;
}

/* Désactionvation du surlignement des liens (précision de la couleur noire pour Chrome) */
footer a {
    text-decoration: none;
    color: black;
}

.results-most-popular .result {
    max-height: 160px;
}

/* 6) Responsive adapté aux écrans d'ordinateurs, de tablettes et de mobiles */


/* Affichage pour les tablettes avec grille sur deux + redimension */
@media (max-width: 960px) {
    .filter {
        margin-left: 20px;
        margin-bottom: 20px;
        display: flex;
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    section {
        width: auto;
        float: left;
        display: flex;
        flex-direction: column;
    }

    article {
        width: auto;
        float: left;
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        margin: auto;
        padding: 0 2rem;
    }

    body {
        font-size: 1em;
    }

    .footer-list {
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        padding: 30px;
    }

    .information {
        margin: 40px;
    }
}

/* Affichage pour les mobiles avec toutes les sections mises sur un étage + redimension */
@media (max-width: 650px) {
    .filters-list {
        width: auto;
        margin: auto;
    }

    .information {
        margin: 30px;
    }

    .search-bar {
        width: 340px;
        margin-bottom: 20px;
    }

    .search-bar input {
        height: 100%;
        min-width: 121px;
        padding: 7px;
    }

    section.mobile-only.results-container {
        display: flex;
        flex-direction: column;
    }

    .results-activities-article img {
        object-fit: cover;
        height: 84%;
        border-style: none;
        max-height: 350px;
    }

    .results-activities-height img {
        height: 88%;
    }

    .results-activities-max-height img {
        height: 91%;
    }

    footer {
        background-color: #F2F2F2;
        display: flex;
        margin: auto;
    }

    .footer-list {
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        padding: 30px;
    }

    body,
    p {
        font-size: 1em;
    }

    .header {
        display: none;
    }

    .mobile-header {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .logo-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-evenly;
        min-height: 3em;
        border-bottom: 3px solid #f2f2f2;
        margin-top: 20px;
    }

    .nav-link {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
    }

    .nav-link a {
        color: black;
        text-decoration: none;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .nav-links a:hover {
        border-bottom: 3px solid #0065FC;
    }

    section.desktop-only {
        display: none;
    }

    .desktop-search {
        display: none;
    }

    .mobile-search {
        display: block;
        width: 100%;
    }

    .search-bar .mobile-search i {
        color: white;
    }
}