/* 1) Classes applicables à de nombreux éléments. */


/* Ajout de la police d'écriture du site : Roleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* Les classes pour obtenir les trois couleurs du site */
.bg-blue-1 {
    background-color: #0065FC;
}

.bg-blue-2 {
    background-color: #DEEBFF;
}

.bg-grey {
    background-color: #F2F2F2;
}

/* Une classe pour arondir tous les articles, filtres et fonds d'articles */
.rounded {
    border-radius: 30px;
}


/* 2) Gestion du corps du texte (titres, paragraphes) */


/* Les propriétés de tout le body (cadrage et police d'écriture) */
body {
    margin: 0;
    font-family: "Raleway", "Sans serif";
}

/* Désactive les puces de la liste pour la navbar */
ul {
    list-style: none;
}

/* Taille des titres */
h1 {
    font-size: 1.9em;
}

/* La mise en gras des titres un peu "moins importants" */
h2,
h3 {
    font-weight: bold;
}

/* Gestion de la forme des paragraphes */
p {
    font-size: 1.1em;
    text-align: justify;
}


/* 3) Les éléments en haut de page */


/* Les propriétés de la barre de recherche et du bouton */
.search-bar {
    border-radius: 20px;
    margin-bottom: 40px;
}

.search-bar a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

i {
    color: #0065FC;
}

/* Gérer les filtres entre icones (Font Awesome), textes et barres */
.filters-list {
    display: flex;
    flex-direction: row;
}

.filter {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 50px;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #f2f2f2;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.filter:hover {
    background-color: #DEEBFF;
}

.filter span {
    width: 15px;
    height: 15px;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter p {
    padding: 0 20px 0 15px;
}

/* À propos de la petite ligne informative */
.information {
    display: flex;
    flex-direction: row;
}

/* La largeur maximale de la page est fixée (excepté pour le footer) */
header,
main {
    margin: 0 auto;
    max-width: 1340px;
}

/* Toute la navbar du haut est alignée sur une ligne */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Aligne et cadre la navbar */
header nav ul {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
    width: 300px;
}

header nav li a {
    color: inherit;
    text-decoration: none;
    border-top: 3px solid rgba(255, 255, 255, 0);
    display: block;
    padding: 48px 0;
}

header div img {
    padding-top: 35px;
}

/* Le trait lorsque l'on survole les liens Hébergements et Activités */
header nav li a:hover {
    border-top: 3px solid #0065FC;
}

/* La gestion du bouton "S'inscrire" */
header button {
    color: #0065FC;
    background-color: unset;
    border: none;
    border-radius: 15px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 35px 25px;
}

header button:hover {
    background-color: #0065fc;
    color: white;
}

/* Placement du titre-logo du site (facteur d'expansion, écart à gauche) */
header .logo-container {
    flex-grow: 1;
    padding-left: 20px;
}


/* 4) Gestion des articles principaux du centre de la page (avec images) */


section img {
    height: 118px;
    width: auto;
}

.results-accommodation {
    line-height: 1.15;
}

.title-most-popular {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.results-most-popular {
    line-height: 1.15;
}

.results-activities {
    line-height: 18.4px
}

/* Forme du bouton "afficher plus" */
.show-more {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.show-more:hover {
    text-decoration: underline;
}


/* 5) Gestion du bas de page */


/* Le placement, la taille d'écriture et l'espacement du footer */
footer {
    padding: 30px;
    font-size: 1em;
    line-height: 1.8;
}

/* Les 3 sections du footer sont mis sur une même ligne */
.footer-list {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Le haut de chaque section est plus gros et en gras */
.footer-title {
    font-weight: bold;
    font-size: 1.3em;
}

/* 6) Responsive adapté aux écrans d'ordinateurs, de tablettes et de mobiles
@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 768px) {

} */